# Config file for Binospec data reduction

[slits]
slit_csv_fname : /Users/gonzalo/Desktop/Code/Gonzalo_Binospec/code/files/BLAS_1_slits.csv
# index of star for telluric correction
star_id : 19

[raw_data]
data_dir : /Users/gonzalo/Desktop/Code/Gonzalo_Binospec/code/data/large_files/Raw/mask1/Expositions/mask1/0208/

[calibration]
# molecfit_path : /h/hobnob0/ESO/install/bin/
# molecfit_path : /opt/local/share/reflex/workflows/molecfit-4.2/
# telluric_dir : /Users/gonzalo/Desktop/Code/Gonzalo_Binospec/code/Bino_analysis/telluric_corrections/